:root {
    --bg-main: #0A0A0A;
    --bg-panel: #1F1F1F;
    --text-main: #FFFFFF;
    --text-muted: #B0B0B0;
    --accent-blue: #00C2FF; /* Cyber Blue */
    --accent-red: #FF3B30;   /* Warning/Action */
    --accent-yellow: #FFCC00;
    --font-main: clamp(1rem, 1.1rem, 2rem);
    --sidebar-width: clamp(200px, 4vw +1rem, 600px);
    --width-img: clamp(100px, 100% , 700px);
    --font-p-ul-li-a:clamp(1rem, 3.5vw, 3rem);
    --font-icon:clamp(1.7rem,  4vw, 2.5rem);
    --accent-color: #00ff41;
}
*{
    padding: 0;
    margin: 0;
}
h2 , h3{
    font-size: var(--font-p-ul-li-a);
    padding: 20px 0;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-containt{
    container: header / inline-size;
}
.header-wrap{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}
.sidebar{
    padding: 0;
    width: var(--sidebar-width);
    position: sticky ;
    top: 0;
    background-image: linear-gradient(to left,#000f,#0009, #0007, #000f),url(../imagenes/imagenes-index/temporales-IA/rv2.jpg);
    background-size: cover;
    height: 100dvh;
}
.main{
    width: 100%;
    display: flex;
    color: var(--text-main);
    container: main / inline-size;
}
.main__conten{
    display: flex;
    width: 100%;
}
.aside__contain{
    width: var(--sidebar-width);
}
.ul__aside___nav{
    list-style: none;
    text-align: start;
    padding: 0;    
}
.ul__aside___nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: var(--sidebar-width);
}
.ul__aside___nav span{
    width: var(--sidebar-width);
    font-size: var(--font-icon);
}
.ul__aside___nav li {
    display: flex;
    margin: 10px;
    color: var(--accent-blue);
    width: var(--sidebar-width);
}
.ul__aside___nav a{
    text-decoration: none;
    margin-left: 5px;
    color: var(--text-main);
    font-size: var(--font-main);
    width: var(--sidebar-width);
    padding-left: 20px;
}
.aside__item{
    padding: 5px 10px;
    border-radius: 10px;
}
.aside__item:hover{
    background-color: rgba(0, 194, 255, 0.1);
    color: var(--text-main);
}
.main__wraper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main__div__aero {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--font-main);
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 10px;    
}
.main__div__aero p {
    margin: 15px 0 15px 0;
}
.main__div__aero img{
    width: 100%; 
    border-radius: 10px;
}
.main__div__aero:nth-child(2) {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.main__div__aero:nth-child(2) img{
    width: 100%; 
    border-radius: 10px;
}
.main__div__aero:nth-child(3) {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--font-main);
}
.main__div__aero:nth-child(3) img{
    width: 100%; 
    border-radius: 10px;
}







/*---------------------- medias querrys---------------------*/
@container main (max-width: 700px){

        .grid-content{
            grid-template-columns:  1fr;    
            gap: 1rem;
            width: 100%;
        }
        .aside__contain{
            display: none;
        }
        .items-armor{
            padding: 40px;
        }
        .items-armor img{
            width: 100%;
            height: auto;
        }
        .items-armor ul{
            line-height: 25px;
        }
        .items-armor p{
            line-height: 25px;
        }

}

@container main (max-width: 450px){
    .grid-content{
        width: 100dvw;
    }
    .items-armor p{
        box-sizing: border-box;
    }
    .items-armor li{
        box-sizing: border-box;
        padding-left: 0;
        margin-left: 12px;
    }
    .items-armor:nth-child(67){
        font-size: 1rem;
    }
}
@container main (max-width: 800px){
    .aside__item a{
        display: none;        
    }
}
@container header (min-width: 700px){
        .header-wrap{
            display: none;
    }
}