:root {
    --bg-main: #0A0A0A;
    --bg-panel: #1F1F1F;
    --text-main: #FFFFFF;
    --text-muted: #B0B0B0;
    --accent-blue: #00C2FF; /* Cyber Blue */
    --accent-red: #FF3B30;   /* Warning/Action */
    --accent-yellow: #FFCC00;
    --font-main: clamp(1rem, 1.5vw, 3rem);
    --sidebar-width: clamp(200px, 4vw +1rem, 600px);
    --width-img: clamp(200px, 100% , 700px);
    --font-p-ul-li-a:clamp(1rem, 1.5vw, 2rem);
    --font-icon:clamp(1.7rem,  4vw, 2.5rem);
}
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-containt{
    container: header / inline-size;
}
.header-wrap{
    width: 100%;
    height: 200px;
}
.sidebar{
    padding: 0;
    width: var(--sidebar-width);
    position: sticky ;
    top: 0;
}
.main{
    width: 100dvw;
    display: flex;
    color: var(--text-main);
    container: main / inline-size;
}
.aside__contain{
    width: var(--sidebar-width);
}
.ul__aside___nav{
    list-style: none;
    text-align: start;
    padding: 0;    
}
.ul__aside___nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: var(--sidebar-width);
}
.ul__aside___nav span{
    width: var(--sidebar-width);
    font-size: var(--font-icon);
}
.ul__aside___nav li {
    display: flex;
    margin: 20px;
    color: var(--accent-blue);
    width: var(--sidebar-width);
}
.ul__aside___nav a{
    text-decoration: none;
    margin-left: 5px;
    color: var(--text-main);
    font-size: var(--font-main);
    width: var(--sidebar-width);
    padding-left: 30px;
}
.aside__item{
    padding: 15px 10px;
    border-radius: 10px;
}
.aside__item:hover{
    background-color: rgba(0, 194, 255, 0.1);
    color: var(--text-main);
}
.grid-content{
    height: auto;
    width: 86%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(autofit, minmax(400px,clamp(200px, 10vh, 20vh)) );
    grid-auto-flow: row;
    border: 1px solid#000;
    gap: 20px;
    box-sizing: border-box;
    place-content: center;
}
.items-armor{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
    font-size: var(--font-p-ul-li-a);
    padding-left: 10px;
}
.items-armor ul{
    font-size: var(--font-p-ul-li-a);
}
.items-armor img{
    width: var(--width-img);
    border-radius: 20px;
    border: #FF3B30;
}

.items-armor h2{
    text-align: center;
}
.items-armor p {
    text-align: justify;
    padding-left: 25px;
    padding: 10px;
    margin: 20px 0;
}
.items-armor ul {
    text-align: start;
    padding-left: 25px;
    margin-bottom: 40px;    
}
.items-armor:first-child img{
    width: 100%;
}
.items-armor:nth-child(3) img{
    width: 100%;
}
.items-armor:nth-child(5){
    grid-column: 1 / 3 ;
    display: flex;
    justify-content: center;
}
.items-armor:nth-child(5) img {
    width: 90%;
    height: 80%;
    border-radius: 10px;
}
.items-armor:nth-child(6)  {
    grid-column: 1 / 3 ;
    display: flex;
    justify-content: center;
    padding: 0;
}
.items-armor:nth-child(6) img {
    margin: 0;
    width: 90%;
    height: 45%;
    border-radius: 10px;
}
.items-armor:nth-child(7) img{
    width: 100%;
    height: 80%;
    border-radius: 10px;

}
.items-armor:nth-child(9){
    grid-column: 1 / 3;
    line-height: 30px;
    gap: 0;
    padding: 0;
}

.items-armor:nth-child(10) {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    
}
.items-armor:nth-child(10) img{
    width: 55%;
    border-radius: 10px;
}

.items-armor:nth-child(11) img{
    width: 37%;
}
.items-armor:nth-child(12) {
    text-align: center;
    padding-top: 15px;
}

.items-armor:nth-child(12) img{
    width: 57%;
    border-radius: 15px;
    filter: brightness(.9);
}
.items-armor:nth-child(13) img{
    width: 36%;
    border-radius: 10px;
}
.items-armor:nth-child(13) {
    text-align: center;
}
.items-armor:nth-child(14) {
    text-align: center;  
    grid-column: 1 / 3;
}
.items-armor:nth-child(14) img {
    width: 23%;
    border-radius: 10px;
}
.items-armor:nth-child(15) {
    grid-column: 1 / 3;
    font-size: 2.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    padding-left: 40px;
}
.items-armor:nth-child(15) img{
    width: 23%;
    height: 100%;
}
.items-armor:nth-child(16) img{
    width:100% ;
    border-radius: 10px;
}

.items-armor:nth-child(18) img {
    width: 100%;
    border-radius: 10px;
}

.items-armor:nth-child(20) img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.items-armor:nth-child(22) img  {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.items-armor:nth-child(24) {
    grid-column: 1 / 3;
    font-size: 2.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 40px;
    margin-bottom: 85px;
}
.items-armor:nth-child(24) img{
    width: 26%;
    height: 110%;
    filter: brightness(.8);
}
.items-armor:nth-child(25) img{
    width: 95%;
    height: auto;
    border-radius: 10px;
}
.items-armor:nth-child(26) img{
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.items-armor:nth-child(27) {
    grid-column: 1 / 3;
    align-items: start;
}
.items-armor:nth-child(28) img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.items-armor:nth-child(30) img{
    width: 100%;
    height: auto;
}
.items-armor:nth-child(32) img{
    width: 100%;
    height: auto;
}
.items-armor:nth-child(34) img{
    width: 100%;
    height: auto;
}
.items-armor:nth-child(36) {
    text-align: center;
}
.items-armor:nth-child(36) img{
    width: 100%;
    height: auto;
}
.items-armor:nth-child(38) img{
    width: 100%;
    height: auto;
}
.items-armor:nth-child(40) img{
    width: 100%;
    height: auto;
}
.items-armor:nth-child(42) img{
    width: 100%;
    height: auto;
}
.items-armor:nth-child(44) img{
    width: 100%;
    height: auto;
}
.items-armor:nth-child(54){
    grid-column: 1 / 3;
    grid-column: 1 / 3;
    font-size: 2.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 40px;
    margin-bottom: 85px;
}
.items-armor:nth-child(54) img{
    width: 30%;
    filter: brightness(.9);
}
/*---------------------- medias querrys---------------------*/
@container main (max-width: 700px){

        .grid-content{
            grid-template-columns:  1fr;    
            gap: 1rem;
            width: 100%;
        }
        .aside__contain{
            display: none;
        }
        .items-armor{
            padding: 40px;
        }
        .items-armor img{
            width: 100%;
            height: auto;
        }
        .items-armor ul{
            line-height: 25px;
        }
        .items-armor p{
            line-height: 25px;
        }
        .items-armor:nth-child(1) {
            padding: 30px;
        }
        .items-armor:nth-child(2) p{
            line-height: 25px;
            padding: 20px;
        }
        .items-armor:nth-child(5){
            grid-column: 1 / 2;
        }
        .items-armor:nth-child(6){
            grid-column: 1 / 2;
        }
        .items-armor:nth-child(9){
            grid-column: 1 / 2;
        }
        .items-armor:nth-child(11){
            text-align: center ;
        }
        .items-armor:nth-child(11) img{
            width: 57%;
        }
        .items-armor:nth-child(13) img{
            width: 57%;
        }
        .items-armor:nth-child(14) {
            text-align: center;
            grid-column: 1 / 2;
        }
        .items-armor:nth-child(14) img{
            width: 57%;
        }
        .items-armor:nth-child(15) {
            grid-column: 1 / 2;
            padding: 0;
        }
        .items-armor:nth-child(16) {
            padding: 30px;      
            justify-content: center;
            align-items: center;
        }
        .items-armor:nth-child(16) img {
            width: 100%;
        }
        .items-armor:nth-child(18) img {
            width: 100%;
        }
        .items-armor:nth-child(24){
            grid-column: 1 / 2;
            padding: 0;
        }
        .items-armor:nth-child(26) img{
        width: 95%;
        }
        .items-armor:nth-child(27) {
        grid-column: 1 / 2;        
        }
        .items-armor:nth-child(54){
            font-size: 1.7rem;
            padding: 0;
            margin: 0;
        }
        .items-armor:nth-child(54){
            grid-column: 1 / 2;;
        }
}

@container main (max-width: 450px){
    .grid-content{
        width: 100dvw;
    }
    .items-armor p{
        box-sizing: border-box;
    }
    .items-armor li{
        box-sizing: border-box;
        padding-left: 0;
        margin-left: 12px;
    }
}
@container main (max-width: 800px){
    .aside__item a{
        display: none;        
    }
}
@container header (min-width: 700px){
        .header-wrap{
            display: none;
    }
}