:root {
    --bg-main: #0A0A0A;
    --bg-panel: #1F1F1F;
    --text-main: #FFFFFF;
    --text-muted: #B0B0B0;
    --accent-blue: #00C2FF; /* Cyber Blue */
    --accent-red: #FF3B30;   /* Warning/Action */
    --accent-yellow: #FFCC00;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-containt{
    container: header / inline-size;
}
.header-wrap{
    width: 100%;
    height: 200px;
}


.sidebar{
    padding: 0;
    width: 200px;
    position: sticky;
    top: 0;
}

.main{
    width: 100dvw;
    display: flex;
    color: var(--text-main);
    container: main / inline-size;
}
.ul__aside___nav{
    list-style: none;
    text-align: start;
    padding: 0;
    
}
.ul__aside___nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}
.ul__aside___nav li {
    display: flex;
    margin: 20px;
    color: var(--accent-blue);

}
.ul__aside___nav a{
    text-decoration: none;
    margin-left: 5px;
    color: var(--text-main);
}
.aside__item{
    padding: 15px 10px;
    border-radius: 10px;
}
.aside__item:hover{
    background-color: rgba(0, 194, 255, 0.1);
    color: var(--text-main);

}

.grid-content{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(30, 450px) ;
    grid-auto-flow: row;
    border: 1px solid#000;
    gap: 20px;
    box-sizing: border-box;
    place-content: center;
}
.items-armor{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
    font-size: 1rem;
}

.items-armor div {
width: 100%;
height: 100%;
position: relative;
}
.items-armor h2{
    text-align: center;
}
.--armor-1{
    position: absolute;
    width: 100%;
    height: 100%; 
    border-radius: 15px;   
}
.items-armor p {
    text-align: justify;
    line-height: 20px;
    padding: 10px;
    margin-bottom: 60px;
}
.items-armor ul {
    text-align: start;
    line-height: 1.7rem;
    padding-left: 25px;
    margin-bottom: 40px;
    
}
.--armor-2{
    width: 100%;
    height: 100%; 
    border-radius: 15px;  
}
.s-link-1__ul li{
    margin-bottom: 8px;
}

.items-armor:nth-child(5){
    grid-column: 1 / 3 ;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.items-armor:nth-child(5) img {
    width: 90%;
    height: 80%;
    border-radius: 10px;
}
.items-armor:nth-child(6)  {
    grid-column: 1 / 3 ;
    display: flex;
    justify-content: center;
    padding: 0;
}
.items-armor:nth-child(6) img {
    margin: 0;
    width: 90%;
    height: 45%;
    border-radius: 10px;
}
.items-armor:nth-child(7) img{
    width: 100%;
    height: 80%;
    border-radius: 10px;

}
.items-armor:nth-child(9){
    grid-column: 1 / 3;
    line-height: 30px;
    gap: 0;
    padding: 0;
}

.items-armor:nth-child(10) {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    
}
.items-armor:nth-child(10) img{
    width: 55%;
    border-radius: 10px;
}

.items-armor:nth-child(11) {
    display: flex;
    text-align: center;  
}
.items-armor:nth-child(11)  h2  {
    margin-top: 15px;
}
.items-armor:nth-child(11)  h3  {
    margin-top: 0;
}
.items-armor:nth-child(11) img{
    width: 37%;
    border-radius: 15px;
}
.items-armor:nth-child(12) {
    text-align: center;
    padding-top: 15px;
}

.items-armor:nth-child(12) img{
    width: 57%;
    border-radius: 15px;
    filter: brightness(.9);
}
.items-armor:nth-child(13) img{
    width: 34%;
    border-radius: 10px;
}
.items-armor:nth-child(13) {
    text-align: center;
    line-height: 19px;
}
.items-armor:nth-child(13) h2 {
    margin-top: 25px;
}
.items-armor:nth-child(13) h3 {
    padding: 5px;
}
.items-armor:nth-child(14) {
    text-align: center;
    padding-top: 25px;    
    grid-column: 1 / 3;
}
.items-armor:nth-child(14) img {
    width: 23%;
    border-radius: 10px;
}
.items-armor:nth-child(15) {
    grid-column: 1 / 3;
    font-size: 2.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    padding-left: 40px;
}
.items-armor:nth-child(15) img{
    width: 23%;
    height: 100%;
}
.items-armor:nth-child(16) img{
    width:100% ;
    border-radius: 10px;
}

.items-armor:nth-child(18) img {
    width: 100%;
    border-radius: 10px;
}
.items-armor:nth-child(19) ul  {
    line-height: 25px;
}
.items-armor:nth-child(20) img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.items-armor:nth-child(22)  {
    padding-top: 40px;
}
.items-armor:nth-child(22) img  {
    width: 100%;
    height: auto;
    border-radius: 10px;
}.items-armor ul{
    font-size: .8rem;
}
.items-armor p{
    font-size: .9rem;
}
.items-armor:nth-child(24) {
    grid-column: 1 / 3;
    font-size: 2.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 40px;
    margin-bottom: 85px;
}
.items-armor:nth-child(24) img{
    width: 26%;
    height: 110%;
    filter: brightness(.8);
}
.items-armor:nth-child(25) {
}
.items-armor:nth-child(25) img{
    width: 95%;
    height: auto;
    border-radius: 10px;
}
.items-armor:nth-child(26) img{
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.items-armor:nth-child(27) {
    grid-column: 1 / 3;
    align-items: start;
    padding: 40px;
}
.items-armor:nth-child(28) img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.items-armor:nth-child(29) ul{
    line-height: 25px;
}




/*---------------------- medias querrys---------------------*/
@container main (min-width: 1000px){
    .items-armor p{
        font-size: 1.2rem;
        line-height: 30px;
    }
    .items-armor ul{
        font-size: 1.1rem;
        line-height: 20px;
    }
}
@container main (min-width: 900px){
    .items-armor:nth-child(11) {
    padding-top: 25px;  
    }
    .items-armor:nth-child(22) img  {
    height: auto;
    }
.items-armor:nth-child(28) img {
    height: auto;
    }
}
@container main (min-width:700px) and (max-width: 1000px){
    .items-armor ul{
        line-height: 20px;
        font-size: .9rem;
    }
    .items-armor:nth-child(20) img {
    height: auto; 
    }
    .items-armor:nth-child(22) img {
    height: auto; 
    }
    .items-armor:first-child img {
    height: auto; 
    }
    .items-armor:nth-child(3) img {
    height: auto; 
    }
    .items-armor:nth-child(7) img {
    height: auto; 
    }
    .items-armor:nth-child(28) img {
    height: auto;
    }
}



@container main (max-width: 700px){

        .grid-content{
            grid-template-columns:  1fr;    
            gap: 1rem;
        }
        .aside__contain{
            display: none;
        }
        .items-armor{
            font-size: 1.1rem ;
        }
        .items-armor ul{
            font-size: 1rem;
        }
        .items-armor:nth-child(1) {
            padding: 30px;
        }
        .items-armor:nth-child(2) p{
            line-height: 25px;
            padding: 20px;
        }
        .items-armor:nth-child(3) {
            padding: 30px;
        }
        .items-armor:nth-child(4) ul{
            line-height: 20px;
        }
        .items-armor:nth-child(5){
            grid-column: 1 / 2;
            margin-top: 30px;
        }
        .items-armor:nth-child(6){
            grid-column: 1 / 2;
        }
        .items-armor:nth-child(7) {
            padding: 30px;
        }
        .items-armor:nth-child(8) p {
            line-height: 35px;
            padding: 0 10px 0 20px;
        }
        .items-armor:nth-child(9){
            grid-column: 1 / 2;
        }
        .items-armor:nth-child(10) img{
            width: 40%; 
            border-radius: 10px;
            margin-top: 30px;
        }
        .items-armor:nth-child(11) {
            padding-top: 40px;
        }
        .items-armor:nth-child(12) img{
            width: 40%;
        }
        .items-armor:nth-child(14) {
            text-align: center;
            padding-top: 25px;
            grid-column: 1 / 2;
        }
        .items-armor:nth-child(14) img {
            width: 36%;
        }
        .items-armor:nth-child(15) {
            grid-column: 1 / 2;
            font-size: 1.7rem;
            padding-left: 25px;
        }
        .items-armor:nth-child(16) {
            padding: 30px;      
            justify-content: center;
            align-items: center;
        }
        .items-armor:nth-child(16) img {
            width: 80%;
        }
        .items-armor:nth-child(18)  {
            padding: 30px;
        }
        .items-armor:nth-child(18) img {
            width: 80%;
        }
        .items-armor:nth-child(20)  {
            padding: 30px 60px;
        }
        .items-armor:nth-child(22) img  {
            width: 80%;
            height: auto;
        }
        .items-armor:nth-child(23){
            margin-top: 4rem;
        }
        .items-armor:nth-child(24){
            grid-column: 1 / 2;
        }
        .items-armor:nth-child(24) img{
            height: 100%;
        }
        .items-armor:nth-child(25) img{
        width: 80%;
        height: 85%;
        }
        .items-armor:nth-child(26) img{
        width: 80%;
        height: 80%;
        }
        .items-armor:nth-child(27) {
        grid-column: 1 / 2;
        
        }
        .items-armor:nth-child(28)  {
            padding: 40px;
        }
}

@container main (max-width: 450px){
        .items-armor p{
            font-size: 1rem;
        }
        .items-armor ul{
            font-size: .9rem;
            line-height: 19px;
        }
        .i
        .items-armor:nth-child(2) p{
            font-size: .9rem;
            line-height: 25px;
            padding: 20px;
        }
        .items-armor:nth-child(4){
            font-size: .8rem;
        }
        .items-armor:nth-child(8) p {
            font-size: .9rem;
            line-height: 25px;
            padding: 0 10px 0 20px;
        }
        .items-armor:nth-child(9) {
            font-size: .73rem;
            line-height: 25px;
            margin-top: 19px;
        }
        .items-armor:nth-child(15) img {
        width: 25%;
        height: 50%;
        }
}
@container main (max-width: 800px){
    .aside__item a{
        display: none;        
}
    .sidebar{
        width: 100px;
    }
}
@container header (min-width: 700px){
        .header-wrap{
            display: none;
        }
}