:root {
    --bg-main: #0A0A0A;
    --bg-panel: #1F1F1F;
    --text-main: #FFFFFF;
    --text-muted: #B0B0B0;
    --accent-blue: #00C2FF; /* Cyber Blue */
    --accent-red: #FF3B30;   /* Warning/Action */
    --accent-yellow: #FFCC00;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
}
.header-containt{
    container: header / inline-size;
}
.header-wrap{
    width: 100%;
    height: 200px;
}
.aside__contain{

}

.sidebar{
    padding: 0;
    width: 250px;
    position: sticky;
    top: 0;
}

.main{
    display: flex;
    color: var(--text-main);
    container: main / inline-size;
}
.ul__aside___nav{
    list-style: none;
    text-align: start;
    padding: 0;
    
}
.ul__aside___nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}
.ul__aside___nav li {
    display: flex;
    margin: 20px;
    color: var(--accent-blue);

}
.ul__aside___nav a{
    text-decoration: none;
    margin-left: 5px;
    color: var(--text-main);
}
.aside__item{
    padding: 15px 10px;
    border-radius: 10px;
}
.aside__item:hover{
    background-color: rgba(0, 194, 255, 0.1);
    color: var(--text-main);

}

.grid-content{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-rows: repeat(15, 450px) ;
    grid-auto-flow: row;
    border: 1px solid#000;
    gap: 20px;
    box-sizing: border-box;
}
.items-armor{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
}

.items-armor div {
width: 100%;
height: 100%;
position: relative;
}
.items-armor h2{
    text-align: center;
}
.--armor-1{
    position: absolute;
    width: 100%;
    height: 100%; 
    border-radius: 15px;   
}
.items-armor p {
    text-align: justify;
    line-height: 45px;
}
.--armor-2{
    width: 100%;
    height: 100%; 
    border-radius: 15px;  
}
.s-link-1__ul li{
    margin-bottom: 8px;
}

.items-armor:nth-child(5){
    grid-column: 1 / 3 ;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.items-armor:nth-child(5) img {
    width: 90%;
    height: 80%;
    border-radius: 10px;
}
.items-armor:nth-child(6)  {
    grid-column: 1 / 3 ;
    display: flex;
    justify-content: center;
    padding: 0;
}
.items-armor:nth-child(6) img {
    margin: 0;
    width: 90%;
    height: 45%;
    border-radius: 10px;
}
.items-armor:nth-child(7) img{
    width: 100%;
    height: 80%;
    border-radius: 10px;

}




/*---------------------- medias querrys---------------------*/

@container main (max-width: 700px){

        .grid-content{
            grid-template-columns:  1fr;    
            gap: 1rem;
        }
        .aside__contain{
            display: none;
        }
        .items-armor:nth-child(5){
            grid-column: 1 / 2;
            margin-top: 80px;
        }
        .items-armor:nth-child(6){
            grid-column: 1 / 2;
        }
}
@container header (min-width: 700px){
        .header-wrap{
            display: none;
        }
}