:root {
    --bg-main: #0A0A0A;
    --bg-panel: #1F1F1F;
    --text-main: #FFFFFF;
    --text-muted: #B0B0B0;
    --accent-blue: #00C2FF; /* Cyber Blue */
    --accent-red: #FF3B30;   /* Warning/Action */
    --accent-yellow: #FFCC00;
    --font-main: clamp(1rem, 1.1rem, 3rem);
    --sidebar-width: clamp(200px, 4vw +1rem, 600px);
    --width-img: clamp(210px, 100% , 700px);
    --font-p-ul-li-a:clamp(1rem, 1.5vw, 2rem);
    --font-icon:clamp(1.7rem,  1.8rem, 2.5rem);
    --accent-color: #00ff41;
}
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-containt{
    container: header / inline-size;
}
.header-wrap{
    width: 100%;
    height: 200px;
}
.sidebar{
    padding: 0;
    width: var(--sidebar-width);
    position: sticky ;
    top: 0;
    background-image: linear-gradient(to left,#000f,#0009, #0007, #000f),url(../imagenes/imagenes-index/temporales-IA/rv2.jpg);
    background-size: cover;
    height: 100dvh;
}
.main{
    width: 100dvw;
    display: flex;
    color: var(--text-main);
    container: main / inline-size;
}
.aside__contain{
    width: var(--sidebar-width);
}
.ul__aside___nav{
    list-style: none;
    text-align: start;
    padding: 0;    
}
.ul__aside___nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: var(--sidebar-width);
}
.ul__aside___nav span{
    width: var(--sidebar-width);
    font-size: var(--font-icon);
}
.ul__aside___nav li {
    display: flex;
    margin: 15px;
    color: var(--accent-blue);
    width: var(--sidebar-width);
    padding: 3px 0;
}
.ul__aside___nav a{
    text-decoration: none;
    margin-left: 5px;
    color: var(--text-main);
    font-size: var(--font-main);
    width: var(--sidebar-width);
    padding-left: 30px;
}
.aside__item{
    padding: 0 10px;
    border-radius: 10px;
}
.aside__item:hover{
    background-color: rgba(0, 194, 255, 0.1);
    color: var(--text-main);
}
.header__section{
    width: 100%;
    height: (200px, 10vh, 20vh);
    margin-top: 40px;
    display: flex;justify-content: space-evenly;
    align-items: center;
    font-size: var(--font-p-ul-li-a);
}
.header__section img{
    width: 30%;
    border-radius: 8px;
    filter: brightness(.8);
}
.products__main{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.protocol__foot{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-content{
    height: auto;
    width: 86%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, clamp(200px, 2vw, 8vw)));
    grid-template-rows: repeat( minmax(400px,clamp(200px, 10vh, 20vh)) );
    grid-auto-flow: row;
    gap: 20px;
    box-sizing: border-box;
    place-content: center;
    margin-top: 40px;
}
h2{
    width: 100%;
    text-align: center ;
    margin: 40px 0;
    font-size: clamp(3vw, 4vw, 8vw);
}
.items-foot ul{
    font-size: var(--font-p-ul-li-a);
}
.items-foot img{
    width: var(--width-img);
    border-radius: 20px;
    transition: .2s;
}
.items-foot img:hover{
    transform: scale(1.5);
    transition: .5s;
}
.items-foot:hover .foot-large{
    transform: scale(1.5);
    transition: .6s;
    transform: translateY(50px);
}
.foot-large{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-weight: 700;    
}


/*---------------------- medias querrys---------------------*/
@container main (max-width: 700px){
        .grid-content{
            grid-template-columns:  1fr;    
            gap: 1rem;
            width: 100%;
        }
        .aside__contain{
            display: none;
        }
        .items-foot{
            padding: 40px;
        }
}

@container main (max-width: 450px){

}
@container main (max-width: 800px){
        .aside__item a{
        display: none;        
        }
}
@container header (min-width: 700px){

}