:root {
    --bg-main: #0A0A0A;
    --bg-panel: #1F1F1F;
    --text-main: #FFFFFF;
    --text-muted: #B0B0B0;
    --accent-blue: #00C2FF; /* Cyber Blue */
    --accent-red: #FF3B30;   /* Warning/Action */
    --accent-yellow: #FFCC00;
    --font-main: clamp(1rem, 1.1rem, 2rem);
    --sidebar-width: clamp(200px, 4vw +1rem, 600px);
    --width-img: clamp(100px, 100% , 700px);
    --font-p-ul-li-a:clamp(1rem, 3.5vw, 3rem);
    --font-icon:clamp(1.7rem,  4vw, 2.5rem);
    --accent-color: #00ff41;
    --form-width: clamp(280px, 440px, 1200px);
}
*{
    padding: 0;
    margin: 0;
    color: var(--text-main);
}
body{
    background-color: var(--bg-main);
}
.main{
    width: 90%;
    min-width: 400px;
    padding-top: 50px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.form__containt{
    width: var(--form-width);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.3rem, 2rem, 2.5rem);
}
.form__items__fielset{
    width: var(--form-width);
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 80px;
}
legend{
    width: auto;
}
form{
    width: var(--form-width);
    background-image: linear-gradient(#000a, #0003),url(../imagenes/imagenes-index/temporales-IA/rv2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px 100px;

}
textarea{
    height: 250px;
    width: var(--form-width);
}
input{
    height: 30px;
    width: var(--form-width);
    border-radius: 10px;
}
label{
    margin: 5px 0 5px 0;
    width: var(--form-width);
    padding-left: 10px;
}
